<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      
      <link rel="stylesheet" href="main.css">
      <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
      <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
      <title>Asistencia de Alumnos</title>
      <script type="module" src="js/app.js"></script>
      
  </head>
  <body>
      <header>
          <nav class="navbar" role="navigation" aria-label="main navigation">
              <div class="navbar-brand">
                <a class="navbar-item" href="/">Asistencia de Alumnos</a>
                
              </div>
            </nav>
      </header>
      <main class="main-content">
          <div class="Asist-container">
              <div class="Asist-header">
                  <h1>Registro de Asistencia</h1>
                  <button class="button is-success" id="botonSubir" >Subir</button>
              </div>
              <table class="table" id="tablaTitulo">
                  <thead>
                    <tr>
                      <th>Numero</th>
                      <th>Codigo</th>
                      <th>Apellido P</th>
                      <th>Apellido M</th>
                      <th>Nombres</th>
                      <th>Asistencia</th>
                      <th>Asistencia</th>
                    </tr>
                  </thead>
              
                  <tbody id="tabla">
                  </tbody>
                </table>
                <div class="col_one_third col_last c-azul">
                  <div  class="subir"> 
                    <label for="nacimiento"><small></small></label>
                    <input type="date" id="nacimiento"    class="sm-form-control">
                    <button class="button is-success" id="openFecha"  type="submit">Fecha Nueva</button>
                  </div>
              </div>
          </div>
      </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
      
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script type="text/javascript"src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="WebBurger/public/js/mostrarContrasena.js"></script>
  </body>
</html>