<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="administrador.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">	
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <title>Document</title>
</head>
<main>

</main>
    <body>
        <div class="card-menu ">
            <div class="card-perfil">
                <div class="card-perfil-imagen">
                    <!-- <img src="deposi.jpg"/>
                    <br/> -->
                </div>
                <div class="card_perfil_descripcion">
                    <label>Administrador</label>
                    <br/>
                    <label>nombre</label>
                    <br/>
                    <label>apellido</label>
                    <br/>
                    <label>licenciado</label>
                    <br/>
                    <label>semestre</label>
                </div>
            </div>
            <div class="card-consulta">
                <div class="card-consulta-busqueda">
                    <div class="card1">
                        <div class="card1-1">
                            <label class="semestre">SEMESTRE :</label>
                            <input class="input-semestre" placeholder="SEMESTRE">
                        </div>
                        <div class="card2"> 
                            <label class="buscar">BUSCAR : </label>
                            <input class="input-buscar">
                        </div>
                        <div class="card1-2">
                            <button type="button" class="btn btn-primary">AGREGAR DOCENTE</button>
                        </div>

                    </div>

                </div>
                <div class="card_consulta_lista">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        
    </body>
</html>